root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true

[*.{kt,kts}]
max_line_length = off
ktlint_function_naming_ignore_when_annotated_with = Composable
# Backing-property pattern (_foo -> exposed via StateFlow) is used throughout ViewModels
ktlint_standard_backing-property-naming = disabled
